{% block form_row %}
    {% spaceless %}
        <div class="form-group {% if form_errors(form) %} invalid {% endif %} ">
            <div class="gkContent__label">{{ form_label(form) }}{% if required %}<sup>*</sup>{% endif %}</div>
            <div class="form-group__aside">
                {{ form_widget(form) }}
                {% if  form_errors(form) %}
                    <div class="error-list">{{ form_errors(form) }}</div>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}