# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     rezhano
    database_user:     '%env(DATABASE_USER)%'
    database_password: '%env(DATABASE_PASSWORD)%'

    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    locale: ru

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_encryption: ~
    mailer_user:       admin
    mailer_password:   ~
    mailer_from:       admin@localhost
    mailer_sender_name: Accurateweb

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    cdek_api_login:    ~
    cdek_api_password: ~

    operator_email:    ~
    web_counters_enabled:   false

    moysklad_username: admin@moysklad
    moysklad_password: 123456
    moysklad_organisation_id: 6d0c7ffe-7df4-11e8-9107-5048000d493a #Идентификатор организации в системе Мой склад
    service_desc_email: operator@local #почта для отправки сообщений об ошибках синхронизации Мой склад
    encrypt_key: ThisTokenIsNotSoSecretChange00It # 32 or 64 symbols!