<a class="btn btn-sm btn-default"
   href="{{ path('admin_store_store_order_order_store_order_orderitem_list', {'id': object.id }) }}">
    <i class="fa fa-cart-plus" aria-hidden="true"></i> Состав заказа
</a>

