{% extends "base.html.twig" %}

{% block header %}
  <header class="header-contacts">
    <div class="header__fixed ">
      <div class="header-menu-wrap header-menu-wrap">
        <a class="header-logo" title="Режано"
           {% if app.request.get('_route') != 'homepage' %}href="{{ path('homepage') }}"{% endif %}></a>
        {% block headerMenu %}
          {{ render(controller('StoreBundle:Menu/MenuItem:headerMenu')) }}
        {% endblock %}

        <div class="header-controls">
          <a href="" class="header-controls__item header-controls__cabinet">
        <span class="header-controls__notice">
          <span class="notice-count">1</span>
        </span>
          </a>
          <a href="{{ url('cart_index') }}" class="header-controls__item header-controls__cart">
            {% if cart.orderItems|length %}
              <span class="header-controls__notice">
            <span class="notice-count">{{ cart.orderItems|length }}</span>
          </span>
            {% endif %}
          </a>
        </div>
      </div>
    </div>

    <div class="header-catalog__wrap">
    </div>
  </header>
{% endblock header %}

{% block main %}
  <section class="contacts-section">
    <div class="container container_no-padding">
      <h1>Контакты</h1>

      <div class="contacts-section__wrap">
        <div class="contacts-section__col-left">
          <div class="col-item">
            <span class="col-title">Заказать сыр, а также вопросы сотрудничества</span>
            <span class="col-text">+7 (343) 207-76-66</span>
          </div>

          <div class="col-item">
            <span class="col-title">Сырная лавка в Екатеринбурге</span>
            <span class="col-text">ул. Красноармейская, 68</span>
          </div>

          <div class="col-item">
            <span class="col-title">Тут мы публикуем много всего интересного</span>
            <div class="footer-social">
                <a href="#" target="_blank" class="footer-social__item footer-social__facebook"></a>
                <a href="#" target="_blank" class="footer-social__item footer-social__vkontakte"></a>
                <a href="#" target="_blank" class="footer-social__item footer-social__instagram"></a>
            </div>
          </div>

        </div>
        <div class="contacts-section__col-right">
          <span class="col-title">Экскурсии на сыроварню</span>
          <span class="col-text">+7 (922) 145-62-37</span>
          <span class="col-title">Сыроварня и лавка в городе Реж</span>
          <span class="col-text">ул. Олега Кошевого, 16</span>

          <span class="col-title">Наша почта</span>
        </div>
      </div>

    </div>
  </section>
{% endblock %}