{% if presentation.parameters.showSubCategories is defined and presentation.parameters.showSubCategories %}
    {% include '@Store/Catalog/Taxon/children.html.twig' with {'taxons': taxon.children} %}
{% endif %}

{{ products|client_model_collection('product', 'ProductList') }}
{{ presentation|client_model('filter') }}

<h1>{{ taxon.name }}</h1>

<div class="container ">
    <div class="product-filter">
        <div class="product-filter__item product-list-sort">{# deployed active  #}
            <a href="" class="product-filter__link">сортировать <i class="ui-icon"></i></a>
            <div class="product-filter__filter">

              <span class="product-filter__custom-checkbox">
                <label>
                  <input type="checkbox" class="checkbox">
                  <span class="checkbox-link">Мы рекомендуем
                    <span class="custom-checkbox"></span>
                  </span>
                </label>
              </span>

                <span class="product-filter__custom-checkbox">
                <label>
                  <input type="checkbox" class="checkbox">
                  <span class="checkbox-link">Новинки
                    <span class="custom-checkbox"></span>
                  </span>
                </label>
              </span>

                <span class="product-filter__custom-checkbox">
                <label>
                  <input type="checkbox" class="checkbox">
                  <span class="checkbox-link">Акции
                    <span class="custom-checkbox"></span>
                  </span>
                </label>
              </span>

            </div>
        </div>

        {% if filter is defined and parameters.showFilter is defined and parameters.showFilter %}
            <div class="product-filter-group product-list-filter">
                {% include '@Store/Catalog/Filter/filter.html.twig' %}
            </div>
        {% endif %}


        {#<div class="product-filter-group111">#}
            {#<div class="product-filter__item deployed">#}
                {#<a href="" class="product-filter__link">тип <i class="ui-icon"></i></a>#}
                {#<div class="product-filter__filter">#}

              {#<span class="product-filter__row">#}
                {#<a href="#" class="product-filter__clear">#}
                  {#<span>очистить</span>#}
                {#</a>#}
              {#</span>#}

                    {#<span class="product-filter__custom-checkbox">#}
                {#<label>#}
                  {#<input type="checkbox" class="checkbox">#}
                  {#<span class="checkbox-link">Мягкий#}
                    {#<span class="custom-checkbox"></span>#}
                  {#</span>#}
                {#</label>#}
              {#</span>#}

                    {#<span class="product-filter__custom-checkbox">#}
                {#<label>#}
                  {#<input type="checkbox" class="checkbox">#}
                  {#<span class="checkbox-link">Полутвёрдый#}
                    {#<span class="custom-checkbox"></span>#}
                  {#</span>#}
                {#</label>#}
              {#</span>#}

                    {#<span class="product-filter__custom-checkbox">#}
                {#<label>#}
                  {#<input type="checkbox" class="checkbox">#}
                  {#<span class="checkbox-link">Твёрдый#}
                    {#<span class="custom-checkbox"></span>#}
                  {#</span>#}
                {#</label>#}
              {#</span>#}

                    {#<span class="product-filter__custom-checkbox">#}
                {#<label>#}
                  {#<input type="checkbox" class="checkbox">#}
                  {#<span class="checkbox-link">С плесенью#}
                    {#<span class="custom-checkbox"></span>#}
                  {#</span>#}
                {#</label>#}
              {#</span>#}

                    {#<div class="product-filter__filter_subfilter">#}

               {#<span class="product-filter__custom-checkbox">#}
                  {#<label>#}
                    {#<input type="checkbox" class="checkbox">#}
                    {#<span class="checkbox-link">— белая#}
                      {#<span class="custom-checkbox"></span>#}
                    {#</span>#}
                  {#</label>#}
              {#</span>#}

                        {#<span class="product-filter__custom-checkbox">#}
                  {#<label>#}
                    {#<input type="checkbox" class="checkbox">#}
                    {#<span class="checkbox-link">— голубая#}
                      {#<span class="custom-checkbox"></span>#}
                    {#</span>#}
                  {#</label>#}
              {#</span>#}

                        {#<span class="product-filter__custom-checkbox">#}
                  {#<label>#}
                    {#<input type="checkbox" class="checkbox">#}
                    {#<span class="checkbox-link">— твёрдая корка#}
                      {#<span class="custom-checkbox"></span>#}
                    {#</span>#}
                  {#</label>#}
              {#</span>#}

                    {#</div>#}

                {#</div>#}
            {#</div>#}

            {#<div class="product-filter__item deployed">#}
                {#<a href="" class="product-filter__link">предпочтения <i class="ui-icon"></i></a>#}
                {#<div class="product-filter__filter">#}

            {#<span class="product-filter__custom-checkbox">#}
                {#<label>#}
                  {#<input type="checkbox" class="checkbox">#}
                  {#<span class="checkbox-link">Для гурманов#}
                    {#<span class="custom-checkbox"></span>#}
                  {#</span>#}
                {#</label>#}
              {#</span>#}

                    {#<span class="product-filter__custom-checkbox">#}
                {#<label>#}
                  {#<input type="checkbox" class="checkbox">#}
                  {#<span class="checkbox-link">На каждый день#}
                    {#<span class="custom-checkbox"></span>#}
                  {#</span>#}
                {#</label>#}
              {#</span>#}

                {#</div>#}
            {#</div>#}
        {#</div>#}


    </div>

</div>

<div class="product-list" id="product-listview">
  <div class="product-items__wrap">
    <div class="product-items">
    {% for product in products %}
        {{ include('StoreBundle:Catalog/Product:product_card.html.twig', { "product": product, "image": product.mainImage }) }}
    {% endfor %}
    </div>
  </div>
</div>
{#<a class="product-list-item__show-more">#}
            {#<span class="product-list-item__show-more__text">Показать ещё</span>#}
        {#</a>#}
{% include '@Store/Catalog/Taxon/pagination.html.twig' with { 'pagination': pagination } %}
