{% extends "base.html.twig" %}

{% block metas %}
    <title>Личный кабинет — Режано</title>
{% endblock %}

{% block body %}
<section class="gkContentTopBorder ">
    <section id="gkBreadcrumb">
        <div class="breadcrumbs">
            <ul>
                <li class="pathway"><a href="{{ path('homepage') }}">Главная</a></li>
                <li class="pathway separator">/</li>
                <li class="pathway"><a href="{{ path('profile') }}">Личный кабинет</a></li>
                <li class="pathway separator">/</li>
                <li class="pathway">Смена пароля</li>
            </ul>
        </div>
    </section>
</section>

<section id="gkContent">
    {% include "@Store/Profile/header.html.twig" %}
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
</section>
{% endblock body %}
