{#<label>#}
   {# <input type="radio" class="radio" name="radio-delivery">#}
    <span class="custom-radio__radio"></span>
    <span>{{ value.name }}</span>
{#</label>
{% if value.info %}
    <span class="delivery-info">
        /  {{ value.info }}
    </span>
{% endif %}#}
