{% if value.cost %}
<span class="delivery-info">
    / от {{ value.cost }}
    {% if value.cost %}
        <span class="delivery-info__message">{{ value.help }}</span>
    {% endif %}
</span>
{% endif %}