<span class="custom-radio__radio"></span>
<span>{{ value.name }}</span>
{#
{% if value.cost %}
<span class="delivery-info">
    {{ value.cost }}
    {% if value.help %}
    <span class="delivery-info__message"> {{ value.cost }} </span>
    {% endif %}
</span>
{% endif %}#}
