{% if value.cost %}
<span class="delivery-info">
    / {{ value.cost }}
</span>
{% if value.help and total < 1000 %}
  <span class="delivery-info__message">{{ value.help }}</span>
{% endif %}
{% endif %}