<td align="right" target="_blank" style="padding: 25px 0 30px 35px;" valign="top">
  {% if setting('facebook_link')  %}
      <a href="{{ setting('facebook_link') }}" style="font-size: 0; display: inline-block; margin-left: 12px;">
          <img width="36" src="/images/svg/social-03_black.svg" alt="">
      </a>
  {% endif %}
  {% if setting('vk_link')  %}
    <a href="{{ setting('vk_link') }}" target="_blank" style="font-size: 0; display: inline-block; margin-left: 12px;">
        <img width="36" src="/images/svg/social-02_black.svg" alt="">
    </a>
  {% endif %}
  {% if setting('instagram_link')  %}
    <a href="{{ setting('instagram_link') }}" target="_blank" style="font-size: 0; display: inline-block; margin-left: 12px;">
        <img width="36" src="/images/svg/social-01_black.svg" alt="">
    </a>
  {% endif %}
</td>