{% extends "base.html.twig" %}

{% block main %}
    <section>
        <div class="container">
            <div class="section-title">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__item">Главная страница</a>
                    <span class="breadcrumbs__divide"></span>
                    <a class="breadcrumbs__item breadcrumbs__item_active">Восстановление пароля</a>
                </div>
                <span class="section-title__text">Восстановление пароля</span>
            </div>
            <div class="center_no-left cards-container__center_no-left">
                {% include "@FOSUser/Resetting/request_content.html.twig" %}
            </div>
        </div>
    </section>
{% endblock %}
