.user-icon {
  background: url("../images/cabinet.png") no-repeat;
  width: 24px;
  height: 22px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
}

.mail-icon {
  background: url("../images/svg/mail-icon.svg") no-repeat;
  width: 24px;
  height: 22px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;

  &_new-message {
    background: url("../images/svg/mail-icon_new.svg") no-repeat;
  }
}

.card-icon {
  background: url("../images/svg/truck-icon.svg") no-repeat;
  width: 27px;
  height: 23px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: sub;

  &__blue {
    background: url("../images/svg/truck-icon__blue.svg") no-repeat;
  }

  &__light-blue {
    background: url("../images/svg/truck-icon__light-blue.svg") no-repeat;
  }
}

.android-icon {
  background: url("../images/android-icon.png") no-repeat;
  width: 22px;
  height: 26px;
  display: inline-block;

}

.apple-icon {
  background: url("../images/apple-icon.png") no-repeat;
  width: 22px;
  height: 26px;
  display: inline-block;
}

.burger-icon {
  background: url("../images/svg/burger-menu.svg") no-repeat;
  width: 21px;
  height: 16px;
  display: inline-block;
}

.addCard-icon {
  background: url("../images/add-tocard-icon.png") no-repeat;
  width: 20px;
  height: 16px;
  display: inline-block;
}

.star-icon {
  background: url("../images/svg/star-header.svg") no-repeat;
  width: 23px;
  height: 22px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: sub;
}

.auction-icon {
  background: url("../images/auction-icon.png") no-repeat;
  width: 19px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: sub;
}

.delivery-icon {
  background: url("../images/svg/delivery-grey.svg") no-repeat;
  width: 26px;
  height: 21px;
  display: inline-block;
  vertical-align: sub;

  &__blue {
    background: url("../images/svg/delivery-blue.svg") no-repeat;
  }

  &__light-blue {
    background: url("../images/svg/delivery-light-blue.svg") no-repeat;
  }
}


.payment-icon {
  background: url("../images/svg/payment-grey.svg") no-repeat;
  width: 26px;
  height: 21px;
  display: inline-block;
  vertical-align: sub;

  &__blue {
    background: url("../images/svg/payment-blue.svg") no-repeat;
  }
}

.order-icon {
  background: url("../images/svg/order-icon.svg") no-repeat;
  width: 26px;
  height: 21px;
  display: inline-block;
  vertical-align: sub;

  &__blue {
    background: url("../images/svg/order-icon__blue.svg") no-repeat;
  }
}