.list-unstyled {
    margin-left: 0;
    padding-left: 0;
    li {
        display: block;
        padding: 0;
        background: none;
    }
}

.inline-block(@va:baseline){ display: inline-block; vertical-align:@va;}

//
// Mixins: utilities
// --------------------------------------------------

// Clearfix
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Text overflow
//
// Requires inline-block or block for proper styling
.text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*SPRITE*/
.sprite(@bg-position: 0 0, @bg-color: transparent){ background:url(../images/sprite.png) no-repeat @bg-position @bg-color;}