<div class="header-menu">
    {% if menuItems|length > 0 %}
        {% for menuItem in menuItems %}
            {% if (menuItem.url) %}
                <a href="{{ menuItem.url|menu_url }}" class="header-menu__item">{{ menuItem.name }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>