<div class="header-menu">
    {% if menuItems|length > 0 %}
        {% for menuItem in menuItems %}
            {% if (menuItem.url) %}
                {% if menuItem.url | is_active %}
                    <a href="#" class="header-menu__item active">{{ menuItem.name }}</a>
                {% else %}
                    <a href="{{ menuItem.url|menu_url }}"
                       class="header-menu__item">{{ menuItem.name }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>