{% if "ROLE_ADMIN" in app.user.roles %}
    <script>
      (function ($) {
        $(function () {
          $('.show-admin-controls').on('click', function () {
            var $adminControl = $(this).parent().find('.admin-controls');
            $adminControl.addClass('deployed')
          });
          $('.hide-admin-controls').on('click', function () {
            var $adminControl = $(this).parent();
            $adminControl.removeClass('deployed')
          })
        })
      })(jQuery)
    </script>
    <div class="control-panel">
        <a class="show-admin-controls" title="Показать панель администрирования"></a>

        <div class="admin-controls">
            <a class="hide-admin-controls" title="Скрыть панель администрирования"></a>
            <a class="control-panel__link" href="{{ path('sonata_admin_dashboard') }}">
                Перейти в раздел администрирования
            </a>
            {% if app.request.get('_route') %}
                <a class="control-panel__link"
                   href="{{ path(app.request.get('_route'),app.request.get('_route_params',{})|merge({'hotspots':not app.request.get('hotspots')})) }}">
                    {% if app.request.get('hotspots') %}Скрыть{% else %}Показать{% endif %} клик-зоны
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}