{% block form_label %}
    {% spaceless %}
        {#{% if not compound %}#}
            {#{% set label_attr = label_attr|merge({'for': id}) %}#}
        {#{% endif %}#}
        {#{% if required %}#}
            {#{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}#}
        {#{% endif %}#}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        <span>{{ label|trans({}, translation_domain) }}{% if required %}*{% endif %}</span>
    {% endspaceless %}
{% endblock form_label %}

{% block form_row %}
    {% spaceless %}
        <div class="delivery-container__item">
            <div class="delivery-container__header">
                {{ form_label(form) }}
            </div>
            <div class="delivery-container__item-info">
                {{ form_widget(form, {'attr': {'class':'input-text_large'}}) }}
                {% if  form_errors(form) %}
                    <div class="error-list">{{ form_errors(form) }}</div>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}