{% extends 'base.html.twig' %}

{% block body %}


    <div>
        {% for story in stories %}
            <h1> {{ story.title }} </h1>
            <div class="text"> {{ story.text | raw }} </div>
        {% endfor %}
    </div>


{% endblock %}